butler:
  enabled: false
  name: "charlescd-butler"
  octopipeHost: "http://charlescd-octopipe:8080"
  database:
    name: charlescd_butler
    host: charlescd-postgresql
    port: "5432"
    user: charlescd_butler
    password: 3f2Yq8R4HhDCnefR
    ssl: false
  replicaCount: 1
  image:
    name: zupcharles/charlescd-butler:0.3.4-rc.3
    pullPolicy: Always
  service:
    name: charlescd-butler
    type: ClusterIP
    ports:
      - name: http
        port: 3000
  resources:
   limits:
    cpu: 128m
    memory: 256Mi
   requests:
    cpu: 128m
    memory: 128Mi

moove:
  enabled: false
  name: "charlescd-moove"
  allowedOriginHost: "http://charles.info.example"
  keycloakHost: "http://charlescd-keycloak-http/keycloak/auth"
  database:
    name: charlescd_moove
    host: charlescd-postgresql
    port: 5432
    user: charlescd_moove
    password: 7Qs2KuM9gYzw48BS
  replicaCount: 1
  image:
    name: zupcharles/charlescd-moove:0.3.4-rc.3
    pullPolicy: Always
  service:
    name: charlescd-moove
    type: ClusterIP
    ports:
    - name: http
      port: 8080
  resources:
   limits:
    cpu: 1
    memory: 1024Mi
   requests:
    cpu: 128m
    memory: 128Mi
  
sidecarIstio:
  enabled: true

villager:
  enabled: false
  name: "charlescd-villager"
  database:
    name: charlescd_villager
    host: charlescd-postgresql
    port: 5432
    user: charlescd_villager
    password: ZkQ67Lnhs2bM3MPN

  replicaCount: 1
  image:
    name: zupcharles/charlescd-villager:0.3.4-rc.3
    pullPolicy: Always
  service:
    name: charlescd-villager
    type: ClusterIP
    ports:
    - name: http
      port: 8080
  resources:
   limits:
    cpu: 256m
    memory: 512Mi
   requests:
    cpu: 128m
    memory: 128Mi   

ui:
  enabled: true
  name: charlescd-ui
  apiHost: http://charles.info.example
  keycloakHost: http://charles.info.example/keycloak
  replicaCount: 1
  image:
    name: zupcharles/charlescd-ui:0.3.4-rc.3
    pullPolicy: Always
  service:
    name: charlescd-ui
    type: ClusterIP
    ports:
      - name: http
        port: 3000
  resources:
   limits:
    cpu: 128m
    memory: 128Mi
   requests:
    cpu: 64m
    memory: 64Mi

circlematcher:
  enabled: false
  name: charlescd-circle-matcher
  redis:
    host: charlescd-redis-master
    port: 6379
    password: hb2Fj9MGKjBkZ6zV
    ssl: false
  allowedOriginHost: http://charles.info.example
  replicaCount: 1
  image:
    name: zupcharles/charlescd-circle-matcher:0.3.4-rc.3
    pullPolicy: Always
  service:
    name: charlescd-circle-matcher
    type: ClusterIP
    ports:
      - name: http
        port: 8080
  resources:
   limits:
    cpu: 256m
    memory: 256Mi
   requests:
    cpu: 128m
    memory: 128Mi

keycloak:
  enabled: false
  keycloak:
    extraEnv: |
        - name: PROXY_ADDRESS_FORWARDING
          value: "true"
        - name: DB_USER
          value: "keycloak"
        - name: DB_PASSWORD
          value: "DCWYW66Mq2ca6w8u"
        - name: DB_VENDOR
          value: "POSTGRES"
        - name: DB_PORT
          value: "5432"
        - name: DB_ADDR
          value: "charlescd-postgresql"
        - name: DB_DATABASE
          value: "keycloak"
        - name: DB_SCHEMA
          value: "public"

    replicas: 1
    persistence:
      deployPostgres: false
      existingSecret: false
    cli:
      custom: |
        /subsystem=keycloak-server/spi=hostname/provider=default:write-attribute(name=properties.frontendUrl, value="http://charles.info.example/keycloak/auth")


postgresql:
  enabled: true
  postgresqlUsername: "postgres"
  postgresqlPassword: "firstpassword"

redis:
  enabled: true
  password: "hb2Fj9MGKjBkZ6zV"

mongodb:
  enabled: false
  mongodbRootPassword: "octopipe"

nginx:
  enabled: false
  ui:
    enabled: true
  moove:
    enabled: true
  circlematcher:
    enabled: true
  keycloak:
    enabled: true
  octopipe:
    enabled: true

octopipe:
  enabled: true
  envVars:
    - name: APP_PORT
      value: "8080"
    - name: DB_URL
      value: "mongodb://root:octopipe@charlescd-mongo-mongodb:27017"
    - name: KUBECONFIG
      value: "IN_CLUSTER"
    - name: TIMEOUT_RESOURCE_VERIFICATION
      value: "300"

compass:
  enabled: false
  name: compass
  replicaCount: 1
  envVars:
    - name: DB_HOST
      value: "charlescd-sandbox-postgresql"
    - name: DB_PORT
      value: "5432"
    - name: DB_USER
      value: "charlescd_compass"
    - name: DB_PASSWORD
      value: "C1UinUu6N0vc"
    - name: DB_NAME
      value: "charlescd_compass"
    - name: DB_SSL
      value: "disable"
    - name: PLUGINS_DIR
      value: "./plugins"
    - name: ENV
      value: "DEV"
    - name: DISPATCHER_INTERVAL
      value: "15s"
  circleId: example
  image:
    repository: compass
    tag: latest
    pullPolicy: Always
  service:
    name: compass
    type: ClusterIP
    ports:
      - name: http
        port: 8080
  resources:
    limits:
      cpu: 128m
      memory: 128Mi
    requests:
      cpu: 64m
      memory: 64Mi
  sidecarIstio:
    enabled: true
