postgresqlGlobal: &postgresInfo
  host: &postgresHost charlescd-postgresql
  port: &postgresPort 5432

hostGlobal: &hostGlobal http://charles.info.example
keycloakHost: &keycloakHost http://charles.info.example/keycloak

CharlesApplications:
  butler:
    enabled: true
    name: charlescd-butler
    sidecarIstio: 
      enabled: true
    healthCheck:
      path: /healthcheck
      port: 3000
      initialDelay: 60
    image:
      repository: zupcharles
      application: charlescd-butler
    imagePullSecrets: false
    pullPolicy: Always
    service:
      name: charlescd-butler
      type: ClusterIP
      ports:
        - name: http
          port: 3000
    replicaCount: 1
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    postgresqlWait: true
    #butler envs
    database:
      <<: *postgresInfo
      user: charlescd_butler
      password: 3f2Yq8R4HhDCnefR
      name: charlescd_butler
      ssl: false

  moove:
    enabled: true
    name: charlescd-moove
    sidecarIstio: 
      enabled: true
    healthCheck:
      path: /actuator/health
      port: 8080
      initialDelay: 180
    image:
      repository: zupcharles
      application: charlescd-moove
    imagePullSecrets: false
    pullPolicy: Always
    service:
      name: charlescd-moove
      type: ClusterIP
      ports:
        - name: http
          port: 8080
    replicaCount: 1
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    postgresqlWait: true
    #moove envs
    database:
      <<: *postgresInfo
      user: charlescd_moove
      password: 7Qs2KuM9gYzw48BS
      name: charlescd_moove
    allowedOriginHost: *hostGlobal
    keycloak:
      host: "http://examplename-keycloak-http/keycloak/auth"
      realm: charlescd
      publicClientId: realm-charlescd
      clientId: realm-charlescd
      clientSecret: "441cfd37-8443-4f3d-bf6c-ee9861b04e28"
    internalIdmEnabled: true

  villager:
    enabled: true
    name: charlescd-villager
    sidecarIstio: 
      enabled: true
    healthCheck:
      path: /health
      port: 8080
      initialDelay: 60
    image:
      repository: zupcharles
      application: charlescd-villager
    imagePullSecrets: false
    pullPolicy: Always
    service:
      name: charlescd-villager
      type: ClusterIP
      ports:
        - name: http
          port: 8080
    replicaCount: 1
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    postgresqlWait: true
    #villager envs
    buildTimeout: 15
    database:
      <<: *postgresInfo
      user: charlescd_villager
      password: ZkQ67Lnhs2bM3MPN
      name: charlescd_villager

  octopipe:
    enabled: true
    serviceAccountName: charlescd-octopipe
    name: charlescd-octopipe
    sidecarIstio: 
      enabled: true
    healthCheck:
      path: /api/v1/health
      port: 8080
      initialDelay: 60
    image:
      repository: zupcharles
      application: charlescd-octopipe
    imagePullSecrets: false
    pullPolicy: Always
    service:
      name: charlescd-octopipe
      type: ClusterIP
      ports:
        - name: http
          port: 8080
    replicaCount: 1
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    #octopipe envs
    limits:
      timeoutResourceVerification: 300
      requestBySecond: 10

  ui:
    enabled: true
    name: charlescd-ui
    sidecarIstio: 
      enabled: true
    healthCheck:
      path: /
      port: 3000
      initialDelay: 20
    image:
      repository: zupcharles
      application: charlescd-ui
    imagePullSecrets: false
    pullPolicy: Always
    service:
      name: charlescd-ui
      type: ClusterIP
      ports:
        - name: http
          port: 3000
    replicaCount: 1
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    postgresqlWait: false
    #ui envs
    apiHost: *hostGlobal
    authUri: *keycloakHost
    authRealm: charlescd
    authClient: charlescd-client
    isIdmEnabled: "0"
    idmLoginUri: /protocol/openid-connect/auth
    idmLogoutUri: /protocol/openid-connect/logout
    idmRedirectHost: *hostGlobal

  circleMatcher:
    enabled: true
    name: charlescd-circle-matcher
    sidecarIstio: 
      enabled: true
    healthCheck:
      path: /actuator/health
      port: 8080
      initialDelay: 120
    image:
      repository: zupcharles
      application: charlescd-circle-matcher
    imagePullSecrets: false
    pullPolicy: Always
    service:
      name: charlescd-circle-matcher
      type: ClusterIP
      ports:
        - name: http
          port: 8080
    replicaCount: 1
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    #Circle matcher envs
    allowedOriginHost: *hostGlobal
    redis:
    # available: redis-standalone, redis-cluster and redis-sentinel
      profile: redis-standalone
      host: charlescd-redis-master
      port: 6379
      password: hb2Fj9MGKjBkZ6zV
      ssl: false
      cluster:
        enabled: false
        nodes: "example"
      sentinel:
        enabled: false
        nodes: "example"
        master: "example"

  compass:
    enabled: true
    name: charlescd-compass
    sidecarIstio: 
      enabled: true
    healthCheck:
      path: /health
      port: 8080
      initialDelay: 60
    image:
      repository: zupcharles
      application: charlescd-compass
    imagePullSecrets: false
    pullPolicy: Always
    service:
      name: charlescd-compass
      type: ClusterIP
      ports:
        - name: http
          port: 8080
    replicaCount: 1
    postgresqlWait: true
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    #compass envs
    database:
      <<: *postgresInfo
      name: charlescd_compass
      user: charlescd_compass
      password: C1UinUu6N0vc
    databaseIgnoreSSL: disable
    pluginsDir: "./plugins"
    dispatchInterval: "15s"
    limits:
      requestPerSecond: "4"
      tokenTTL: "5"
      headersTTL: "5"
    moove:
      user: "Y2hhcmxlc2FkbWluQGFkbWlu"
      auth: "Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJrcXkydE1XY2E1VVhaYjdONXZNSEE0b25NRkZqNkVLandSV0tnaTJvQkhNIn0.eyJleHAiOjE2MTEyNTMzMzcsImlhdCI6MTYxMTI0OTczNywianRpIjoiNmU5OWYyZjUtOTBlMS00OGFjLWFlN2QtYWJkMjIyODIwY2FmIiwiaXNzIjoiaHR0cDovL2NoYXJsZXMuaW5mby5leGFtcGxlL2tleWNsb2FrL2F1dGgvcmVhbG1zL2NoYXJsZXNjZCIsImF1ZCI6ImRhcndpbi1jbGllbnQiLCJzdWIiOiJkYThjYTQ5OC1lNDQ5LTQzMjYtYThkZC00ODM5NDI0Y2JkZDAiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJjaGFybGVzY2QtY2xpZW50Iiwic2Vzc2lvbl9zdGF0ZSI6IjI5Mzk2ZDZlLWI4ZDctNGU0ZC1hYTI2LWVlYWVlM2M5ODRjNSIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiKiJdLCJzY29wZSI6InByb2ZpbGUgZW1haWwiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiaXNSb290Ijp0cnVlLCJuYW1lIjoiY2hhcmxlc2FkbWluQGFkbWluIGNoYXJsZXNhZG1pbkBhZG1pbiIsInByZWZlcnJlZF91c2VybmFtZSI6ImNoYXJsZXNhZG1pbkBhZG1pbiIsImdpdmVuX25hbWUiOiJjaGFybGVzYWRtaW5AYWRtaW4iLCJmYW1pbHlfbmFtZSI6ImNoYXJsZXNhZG1pbkBhZG1pbiIsImVtYWlsIjoiY2hhcmxlc2FkbWluQGFkbWluIn0.NLzu9222nMb-eyIiKwbznPzSTXe26QQp5cYGWw4MhfTW43gl6bXFAd-YMSXMEz5mmRy73NlW8WWnMKfQpC2FR-3wSKajVTB5_Y2CJC8PTLjXUpcZS2UxvBuV_ANZiINNovGiX87XFNhm9bHZxXzYUhDKqGh2C72G18fZKUTGMCfcTFHhFjxWDx1MEm5AN5JzPNbtcYWmrCMufgTsaQD9pQrHWxr9-8kNgKYff6wMVJLR6YIVpNVy7eHWTTOKwa59BFpw-w45clA3dtcs5cbMQo6GoA52_f5XdyvCZ-llYfvYpT09iPMsekWjG0TTbo2hCA59VKnMZA0r7JtPan9wrQ"
      database:
        <<: *postgresInfo
        name: charlescd_moove
        user: charlescd_moove
        password: 7Qs2KuM9gYzw48BS





# postgresqlInit:
#   enabled: true
#   database:
#     host:
#     port:
#     user:
#     password:
#     name:

postgresql:
  enabled: true
  fullnameOverride: *postgresHost
  initdbScriptsConfigMap: charles-postgres

redis:
  enabled: true
  password: "hb2Fj9MGKjBkZ6zV"
  cluster:
    enabled: false

keycloak:
  enabled: true
  postgresql:
    enabled: false
  extraEnv: |
    - name: PROXY_ADDRESS_FORWARDING
      value: "true"
    - name: DB_USER
      value: "keycloak"
    - name: DB_PASSWORD
      value: "DCWYW66Mq2ca6w8u"
    - name: DB_VENDOR
      value: "POSTGRES"
    - name: DB_PORT
      value: "5432"
    - name: DB_ADDR
      value: charlescd-postgresql
    - name: DB_DATABASE
      value: "keycloak"
    - name: DB_SCHEMA
      value: "public"
    - name: JAVA_OPTS
      value: >-
        -Dkeycloak.migration.action=import
        -Dkeycloak.migration.provider=singleFile
        -Dkeycloak.migration.file=/realm/keycloak.json
        -Dkeycloak.migration.strategy=IGNORE_EXISTING

  securityContext:
    runAsUser: 0   
    runAsNonRoot: false

  contextPath: keycloak/auth

  startupScripts:
    contextPath.cli: |
      embed-server --server-config=standalone-ha.xml --std-out=echo
      batch
      {{- if ne .Values.contextPath "auth" }}
      /subsystem=keycloak-server/:write-attribute(name=web-context,value={{ if eq .Values.contextPath "" }}/{{ else }}{{ .Values.contextPath }}{{ end }})
      {{- if eq .Values.contextPath "" }}
      /subsystem=undertow/server=default-server/host=default-host:write-attribute(name=default-web-module,value=keycloak-server.war)
      {{- end }}
      {{- end }}
      /subsystem=keycloak-server/spi=hostname/provider=default:write-attribute(name=properties.frontendUrl, value="http://charles.info.example/keycloak/auth")
      run-batch
      stop-embedded-server

  livenessProbe: |
    httpGet:
      path: {{ if ne .Values.contextPath "" }}/{{ .Values.contextPath }}{{ end }}/
      port: http
    initialDelaySeconds: 300
    timeoutSeconds: 5

  readinessProbe: |
    httpGet:
      path: {{ if ne .Values.contextPath "" }}/{{ .Values.contextPath }}{{ end }}/realms/master
      port: http
    initialDelaySeconds: 30
    timeoutSeconds: 1

  extraInitContainers: |
    - name: check-db-ready
      image: postgres:9.6.5
      command: ['sh', '-c', 
        'until pg_isready -h charlescd-postgresql -p 5432; 
        do echo waiting for database; sleep 2; done;']
  auth:
    adminPassword: firstpassword
  
  extraVolumes: |
    - name: realm-secret
      configMap:
        name: keycloak-realm

  extraVolumeMounts: |
    - name: realm-secret
      mountPath: "/realm/"
      readOnly: false

envoy:
  enabled: true
  ui:
    enabled: true
  moove:
    enabled: true
  circlematcher:
    enabled: true
  keycloak:
    enabled: true
  octopipe:
    enabled: true
  compass:
    enabled: true
  cors:
    enabled: true
    hosts: []
  idm:
    endpoint: "keycloak-http"
    port: 80
    path: /keycloak/auth/realms/charlescd/protocol/openid-connect/userinfo
    protocol: http


ingress:
  host: charles.info.example
  class: nginx
  enabled: true

nginx_ingress_controller:
  enabled: true

ingress-nginx:
  controller:
    service:
      annotations: {}
    

    



