ui:
  enabled: true
moove:
  enabled: true
circlematcher:
  enabled: true
keycloak:
  enabled: true
octopipe:
  enabled: true
compass:
  enabled: true
idm:
  endpoint: http://charlescd-keycloak-http/keycloak/auth/realms/charlescd/.well-known/openid-configuration