ui:
  enabled: true
moove:
  enabled: true
circlematcher:
  enabled: true
keycloak:
  enabled: true
compass:
  enabled: true
idm:
  endpoint: http://charlescd-keycloak-http.charles.svc.cluster.local/keycloak/auth/realms/charlescd/.well-known/openid-configuration
  alg: \"RS256\"
