# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# storybook
/storybook-static

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
