name: build circle-matcher

on:
  push:
    branches: [ master ]
    paths:
      - 'circle-matcher/**'
    tags: 
      - '!*'
  pull_request:
    branches: [ master ]
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'circle-matcher/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('./circle-matcher/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Build with Maven
      run: mvn -B clean install
      working-directory: ./circle-matcher
    - name: Tests coverage
      uses: codecov/codecov-action@v1.0.7
      with:
        file: ./circle-matcher/target/site/jacoco/jacoco.xml
        flags: circlematcher
        fail_ci_if_error: true
    - name: Check Code Style
      run: mvn checkstyle:checkstyle
      working-directory: ./circle-matcher
