name: quiz_app-backend dev-release

on:
  push:
    branches: [ release-darwin-* ]

jobs:
  build_and_push_prerelease:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.2'

    - name: Substring branch name
      id: substring
      uses: ricardorames/substring-branch-name-action@v0.2.1
      with:
        separator: 'release-darwin-'

    - name: Build and push Docker images
      uses: docker/build-push-action@v1.0.1
      with:
        path: ./samples/quiz-app/backend
        username: ${{secrets.DOCKER_REGISTRY_USERNAME}}
        password: ${{secrets.DOCKER_REGISTRY_PASSWORD}}
        registry: realwavelab.azurecr.io
        repository: quiz-app-backend
        dockerfile: ./samples/quiz-app/backend/cmd/quiz_app/Dockerfile
        tags: ${{steps.substring.outputs.value}}
        tag_with_ref: false
        tag_with_sha: false
