name: build and test new ui

on:
  push:
    branches: [ master ]
    paths:
      - 'ui/**'
    tags: 
      - '!*'
  pull_request:
    branches: [ master ]
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'ui/**'
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/yarn-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: yarn install
      working-directory: ./ui
    - run: yarn build
      working-directory: ./ui
    - run: yarn test:coverage
      working-directory: ./ui
      env:
        CI: true
    - name: Tests coverage
      uses: codecov/codecov-action@v1.0.7
      with:
        file: ./ui/coverage/lcov.info
        flags: ui
        fail_ci_if_error: true
