name: new-ui dev-release

on:
  push:
    branches: [ release-darwin-* ]

jobs:
  build_and_push_prerelease:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      
    - uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/yarn-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
          
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - run: yarn install
      working-directory: ./ui
    - run: yarn test
      working-directory: ./ui
    - run: yarn build
      working-directory: ./ui
      env:
        CI: true

    - name: Build and push Docker images
      uses: docker/build-push-action@v1.0.1
      with:
        path: ./ui
        username: ${{secrets.DOCKER_REGISTRY_USERNAME}}
        password: ${{secrets.DOCKER_REGISTRY_PASSWORD}}
        registry: realwavelab.azurecr.io
        repository: charlescd-ui
        tag_with_ref: true
        tag_with_sha: false
