.executions__navbar {
  background-color: #5e35b1;
  height: 60px;
}

.executions__navbar__content {
  display: flex;
  align-items: center;
}

.executions__navbar__content__search {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #fff !important;
  width: 100%;
}

.executions__table {
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.executions__table thead {
  color: rgba(53, 64, 82, 0.5);
}

.executions__table thead tr th {
  border-bottom: 1px solid #eee;
}

.executions__table tbody tr {
  cursor: pointer;
}

.execution__status {
  text-align: center;
  font-size: 12px;
  width: 80%;
}

.execution__status.running {
  background-color: black;
  animation: fade 1s infinite;
}

@keyframes fade {
  0% {opacity: 0} 
  100%{opacity: 1}
}
